# encoding: utf-8
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">HelloTube!</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <% @videos.each do |video| -%>
          <li class="nav-header"><%= video.title %></li>
          <ul>
            <object width="170" height="142">
              <param name="movie" value="<%=h video.embed_url%>"></param>
              <param name="wmode" value="transparent"></param>
              <embed src="<%=h video.embed_url%>" type="application/x-shockwave-flash" wmode="transparent" width="170" height="142"></embed>
            </object>
          </ul>
          <% end %>
        </div>
      </div>
      <div class="span9">
        <div class="row-fluid">
          <div id="MooFlow">
            <% @videos.each do |video| -%>
            <div><img src="<%=h video.thumbnails[0].url%>" height="<%=h video.thumbnails[0].height%>" width="<%=h video.thumbnails[0].width%>"></div>
            <% end %>
          </div>
        </div>
      </div>
      <footer>
        <p>&copy; hellotube 2012 </p>
      </footer>
    </div>
  </div>

