# encoding: utf-8

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">HelloTube!</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span7">
        <div class="well sidebar-nav">
          <h2><%=h @videotitle %></h2>
          <ul>
            <object width="500" height="350">
              <param name="movie" value="<%=h @videourl%>"></param>
              <param name="wmode" value="transparent"></param>
              <embed src="<%=h @videourl %>" type="application/x-shockwave-flash" wmode="transparent" width="500" height="350"></embed>
            </object>
          </ul>
        </div>
      </div>
      <div class="span5">
        <div class="well sidebar-nav">
          <p><%=h @videodesc %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-fixed-bottom">
    <div id="MooFlow">
      <% @videos.each do |video| -%>
      <div><img src="<%=h video.thumbnails[0].url%>" title="<%=h video.title %>"></div>
      <% end %>
    </div>
  </div>
